[Desktop Entry]
Name=Nimbus
Comment=Not Solaris
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-Name=nimbus
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
