[Desktop Entry]
Name=Psion
Comment=Not Steampunk
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-Name=Psion
X-KDE-PluginInfo-Version=6.8
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
